body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.container {
  width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container-narrow {
  width: 1094px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.section-title span {
  color: #fd9222;
}

/* HEADER */

.header {
  padding-top: 28px;
  padding-bottom: 28px;
}
.header-navigation {
  display: flex;
}

.header-menu-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
  margin-right: 100px;
  display: flex;
}

.header-logo-italic {
  font-style: italic;
  margin-right: 6px;
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #fd9222;
}

.header-soc-list {
  display: flex;
  margin-left: auto;
  gap: 24px;
}

.header-container {
  display: flex;
  align-items: center;
}
/* --------------- HERO ---------------- */
.hero {
  background-color: #1e1823;
  border-radius: 30px;
  padding-top: 375px;
  padding-bottom: 46px;
  margin-bottom: 72px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
  max-width: 484px;
}
.hero-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  padding: 14px 40px;
  background: #fd9222;
  border-radius: 100px;
  border: none;
}
.hero-anchor-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  padding: 14px 40px;
  border: 1px solid #fff;
  border-radius: 100px;
}

.hero-anchor-link:focus {
  color: #fd9222;
}

.hero-scrolling {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.23;
  letter-spacing: -0.03em;
  color: #fff;
  margin-left: auto;
}

.hero-buttons {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* -------------- FEATURES ------------- */
.features {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}
.features-list {
  display: flex;
  gap: 70px;
}
.features-item {
  width: calc((100% - 140px) / 3);
}
.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}
.features-item-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* ---------------- TASTE ---------------- */
.taste {
  padding-top: 100px;
  padding-bottom: 50px;
}
.taste-title {
  max-width: 411px;
  margin: 0 auto 28px auto;
}

.taste-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  max-width: 486px;
  margin: 0 auto 50px;
}

.taste-list {
  display: flex;
  gap: 19px;
}

.taste-item:nth-child(2n + 2) {
  border: 1px solid #fd9222;
  background: #fff;
}

.taste-item:first-child {
  background: #fd9222;
}

.taste-item {
  border-radius: 15px;
  padding: 28px 32px;
  width: calc((100% - 3 * 19px) / 4);
}

.taste-item:nth-child(3) {
  background: #1e1823;
}

.taste-item-image {
  margin-bottom: 36px;
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  display: inline;
}

/* ---------------- MADE -------------- */

.made {
  padding-top: 50px;
  padding-bottom: 50px;
}

.made-container {
  display: flex;
  gap: 20px;
}
.made-title {
  margin-bottom: 50px;
}

.made-image {
}

.made-list-container {
  padding: 32px;
  background: #fff;
  border-radius: 15px;
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  margin-bottom: 28px;
  max-width: 350px;
}

.made-list {
}

.made-item {
  margin-bottom: 24px;
}

.made-item:last-child {
  margin-bottom: 0;
}
.made-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

/* REVIEWS */

.reviews {
  padding-top: 50px;
  padding-bottom: 100px;
}
.reviews-title {
  margin-bottom: 50px;
}

.reviews-list {
  margin-bottom: 50px;
  display: flex;
  gap: 28px;
}
.reviews-item {
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background: #fff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  padding: 0 24px 24px;
  width: calc((100% - 2 * 28px) / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-image {
  margin-bottom: 18px;
}
.reviews-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
}

.reviews-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.reviews-btn {
  font-weight: 600;
  font-size: 18px;
  color: #111;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  display: block;
  margin: 0 auto;
}

/* FOOTER */
.footer {
  background-color: #1e1823;
}
.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-title span {
  color: #fd9222;
}
.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fff;
}
.footer-address {
}
.footer-list {
}
.footer-item {
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}

.footer-navigation {
}
.footer-menu-list {
}
.footer-menu-item {
}
.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}
